//font variable
$ff-PlayfairDisplay: "PlayfairDisplay";
$ff-Poppins: "Poppins";

//color variable
$col-blackTitle: #273d46;
$col-blackSubtitle: #333333;
$col-blackText: #505050;


@import "common/reset";
@import "fonts";
@import "default";
@import "header";
@import "benefits";
@import "installation";
@import "clients";
@import "services";
@import "contacts";
@import "footer";


