.opacity {
  animation: opacity .6s linear;
}
@keyframes opacity {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.clients {

  h3 {
    @media screen and (max-width: 768px) {
      margin-bottom: 70px;
    }
  }
  &_content {
    display: flex;
    justify-content: space-around;
    min-height: 276px;
    @media screen and (max-width: 768px) and (min-width: 580px){
      min-height: 299px;
    }
    @media screen and (max-width: 580px) {
      flex-direction: column;
      min-height: 782px;
    }

    &_item {
      display: flex;
      width: 33.3%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      @media screen and (max-width: 580px) {
        width: 100%;
      }

      p {
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 15px;
        }
      }
    }
  }

  &_dots {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    @media screen and (max-width: 1024px) {
      width: 40%;
    }
    @media screen and (max-width: 580px) {
      width: 50%;
    }
    @media screen and (max-width: 420px) {
      display: none;
    }

    a {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: solid 1px #333333;
    }

    &_left {
      position: absolute;
      left: -50px;
      top: 50%;
    }
    &_left:before,
    &_left:after,
    &_right:after,
    &_right:before {
      position: absolute;
      content: '';
    }

    .active {
      background: #333333;
    }
  }

  .slider_nav_button {
    @media screen and (max-width: 580px) {
      padding: 8px 14px;
    }
  }

  .svg-item {
    width: 150px;
    height: 150px;
  }
}