.services {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__title {
		.title {
			text-align: center;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 30px;

			&:before {
				position: absolute;
				content: '';
				width: 50px;
				height: 3px;
				background: rgba(84, 133, 21, .3);
				bottom: 15px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.subtitle {
			text-align: center;
			max-width: 68%;
			margin: 0 auto 50px;
			@media screen and (max-width: 480px) {
				max-width: 100%;
			}
		}
	}

	&--wrap {
		overflow: hidden;
		padding-bottom: 70px;
		padding-top: 50px;
	}

	&__item {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: 1s;
		backface-visibility: hidden;

		&.back {
			transform: rotateY(180deg);
			background-color: #d2d2d2;
			padding: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.text {
				padding-bottom: 15px;
				text-align: center;
				position: relative;
				@media screen and (max-width: 475px) {
					font-size: 15px;
					line-height: 16px;
				}

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					background-color: rgba(84, 133, 21, 0.3);
					left: 0;
					bottom: 5px;
				}
			}
		}

		&--wrap {
			position: relative;
			perspective: 1700px;
			height: 270px;
			margin-bottom: 16px;
			cursor: pointer;
			&:hover {
				animation: scale 1s ease-in-out;
			}
			@media screen and (max-width: 480px) {
				height: 170px;
			}

			.card-invert {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				svg {
					display: none;
					@media screen and (max-width: 768px) {
						display: block;
						width: 100%;
						height: 100%;
						fill: white;
					}
				}
				@media screen and (max-width: 768px) {
					width: 45px;
					height: 45px;
					top: 10px;
					right: 10px;
					left: auto;

				}
			}

			&.small {
				width: calc(46% - 8px);
				@media screen and (max-width: 680px) {
					width: 100%;
				}
			}

			&.large {
				width: calc(54% - 8px);
				@media screen and (max-width: 680px) {
					width: 100%;
				}
			}

			&.active {

				.back {
					transform: rotateY(360deg)
				}

				.front {
					transform: rotateY(180deg)
				}
				.card-invert {
					svg {
						animation: scale 1s ease-in-out;
						fill: $col-blackText;
					}
				}
			}
		}

		img  {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}

		&-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .68);
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				text-align: center;
				padding: 0 15px;
				color: white;
				margin-bottom: 0;
				span {
					font-weight: 700;
				}
			}
		}

	}
}


@keyframes scale {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(.6);
	}
	to {
		transform: scale(1);
	}
}